<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
        
<nav>
	<a href="/products/new">Add a New Product</a>
</nav>

		<h1>Books index page</h1>
		<ul>
			<% products.forEach(product => { %>
            <li><a href="/products/<%=product._id; %>"> <img src=<%=product.img; %>> </a></li>
			<form style="display:inline; margin-left:17px;" action="/products/<%= product.id %>?_method=DELETE" method="POST">
				<input type="submit" value="DELETE" />
			  </form>
			  <a href="/products/<%=product._id %>/edit">Edit</a>
			<% }) %>
		</ul>
	</body>
</html>